<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Panel de administración</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
  <div class="container">
    <h2 class="mt-5">Buscar reservas</h2>
    <form th:action="@{/admin/search}" method="post" class="mb-4">
      <div>
        <h4>Búsqueda por nombre y apellido</h4>
        <input type="text" name="name" placeholder="Nombre" class="form-control mb-2" />
        <input type="text" name="surname" placeholder="Apellido" class="form-control mb-2" />
        <button type="submit" class="btn btn-primary mb-2">Buscar por nombre y apellido</button>
      </div>
      <div class="my-3 text-center">o</div>
      <div>
        <h4>Búsqueda por código de reserva (fecha exacta)</h4>
        <input type="text" name="bookingCode" placeholder="Ejemplo: 20250608202010" class="form-control mb-2" />
        <button type="submit" class="btn btn-secondary">Buscar por código</button>
      </div>
    </form>
  </div>
</body>
</html>