<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserva Cancelada</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cancel_success.css">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4 text-center bg-light">
            <h1 class="text-success mb-3">¡Reserva cancelada!</h1>
            <p class="mb-4">Tu reserva se ha cancelado correctamente.</p>
            <a href="/" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>
</body>
</html>
